* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
    section {
        margin-left: 3.5vw !important;
    }
}

@media screen and (max-width: 500px) {
    section {
        margin-left: 8vw !important;
    }
}

@media screen and (min-width: 501px ) and ( max-width: 1279px) {
    section {
        margin-left: 6.5vw !important;
    }
}

#main-container {
	display:flex;
    width: 100%;
    background: linear-gradient(#051f30, #000000);
}

.menu {
    height: auto;
    transition: .3s;
    background: #ffffff12;
    padding: 20px 20px 20px 0;
    width: 85px;
    box-shadow: 8px 0px 9px 0px #00000014;
    backdrop-filter: blur(5px);
    min-height: 100vh;
}

.menu-content li {
    list-style: none;
    border-radius: 0px 50px 50px 0;
    transition: .3s;
    margin-bottom: 20px;
    padding-left: 20px;
}

.aM {
    text-decoration: none;
    color: rgb(213, 213, 213);
    display: flex;
    align-items: center;
    font-family: 'calibri';
}

.material-symbols-outlined {
    font-size: 25px;
    margin-right: 10px;
    background: #0c0c0c;
    border-radius: 50%;
    padding: 10px;
}

.liM:hover {
    background: #0c0c0c;
}

.liM span:nth-child(2) {
    display: none;
}

.menu:hover {
    width: 260px;
}

.menu:hover li span:nth-child(2) {
    display: block;
}

ul{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.ulM {
    display: block !important;
    list-style-type: disc !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 40px !important;
}