/*@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

#main-container {
	display:flex;
    width: 100%;
    background: linear-gradient(#051f30, #000000);
}

.menu {
    height: auto;
    transition: .3s;
    background: #ffffff12;
    padding: 20px 20px 20px 0;
    width: 85px;
    box-shadow: 8px 0px 9px 0px #00000014;
    backdrop-filter: blur(5px);
    min-height: 100vh;
}

.menu-content li {
    list-style: none;
    border-radius: 0px 50px 50px 0;
    transition: .3s;
    margin-bottom: 20px;
    padding-left: 20px;
}

.aM {
    text-decoration: none;
    color: rgb(213, 213, 213);
    display: flex;
    align-items: center;
    font-family: 'calibri';
}

.material-symbols-outlined {
    font-size: 25px;
    margin-right: 10px;
    /*background: #0c0c0c;*/
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(76deg) brightness(104%) contrast(101%) !important;
    border-radius: 50%;
    padding: 10px;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

@media screen  and (min-width: 1043px) {
    .liM:hover {
        background: #0c0c0c;
    }

    .liM span:nth-child(2) {
        display: none;
    }

    .menu:hover {
        width: 260px;
    }

    .menu:hover li span:nth-child(2) {
        display: block;
    }
}

@media screen and (max-width: 1042px) {
    .liM:active {
        background: #0c0c0c;
    }

    .liM span:nth-child(2) {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    section {
        margin-left: 3.5vw !important;
    }
}

@media screen and (max-width: 500px) {
    section {
        margin-left: 8vw !important;
    }
}

@media screen and (min-width: 501px ) and ( max-width: 1279px) {
    section {
        margin-left: 6.5vw !important;
    }
}

ul{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.ulM {
    display: block !important;
    list-style-type: disc !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 40px !important;
}

img {
    max-width: 500px;
    height: auto;
}